<section id="home-banner"></section>

<div id="search-section">
    <button class='btn' id="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
    <input class="form-control" list="datalistOptions" id="name-search" placeholder="Type to search...">
    <datalist id="datalistOptions">
        {{#each searchList as |searchItem|}}
            <option id="{{id}}" value="{{product_name}}">
        {{/each}}
    </datalist>
</div>

<main class="container container-fluid mt-5" id="item-container">
    <h2>Recommendations</h2>
    <div class="scrolling-wrapper">
        {{#each recommendations as |recommendation|}}
            <div class="card"><img data-id="{{id}}" src="{{image_url}}"/></div>
        {{/each}}
    </div>

    <h2>US Comics</h2>
    <div class="scrolling-wrapper">
        {{#each usComics as |usComic|}}
            <div class="card"><img data-id="{{id}}" src="{{image_url}}"/></div>
        {{/each}}
    </div>

    <h2>Japanese Comics</h2>  
    <div class="scrolling-wrapper">
        {{#each japanComics as |japanComic|}}
            <div class="card"><img data-id="{{id}}" src="{{image_url}}"/></div>
        {{/each}}
    </div>   

    <h2>Other Comics</h2>   
    <div class="scrolling-wrapper">
        {{#each otherComics as |otherComic|}}
            <div class="card"><img data-id="{{id}}" src="{{image_url}}"/></div>
        {{/each}}
    </div>

    <h2>Collectibles</h2>   
    <div class="scrolling-wrapper">
        {{#each collectibles as |collectible|}}
            <div class="card"><img data-id="{{id}}" src="{{image_url}}"/></div>
        {{/each}}
    </div>
</main>

<script src="/js/homepage.js"></script>